<!DOCTYPE html> {% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

</head>

<body>
<div class="main-wrapper account-wrapper">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box">


                <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña. Si no han llegado en
                    unos minutos, revise su carpeta de correo no deseado.</p>


            </div>
        </div>
    </div>
</div><!-- jQuery -->
<script src="{% static 'estilo/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'estilo/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'estilo/js/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'estilo/js/startmin.js' %}"></script>
</body>

</html>