<!DOCTYPE html> {% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

</head>

<body>
<div class="main-wrapper account-wrapper">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box">

                <h1>¡La contraseña ha sido cambiada!</h1>
                <p><a href="{% url 'login_usuario' %}">¿ingresar de nuevo?</a></p>

            </div>
        </div>
    </div>
</div>

</body>

</html>