{% extends 'baseapp.html' %}
{% load static %}
{% block head %}
    <style>
        h4 {
            font-size: 16px;
            margin: 0;
        }

        h5 {
            margin: 0;
        }

        h3 {
            font-size: 20px;
            line-height: 20px;
        }

        .padding {
            padding: 15px 15px 15px 15px;
        }

        .icono {
            width: 160px;
            float: left;
            height: 190px;
            background: #fafafa;

            /*background: #0c0c0c;*/
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;
            border-radius: 10px 10px;
            vertical-align: middle;

        }

        .icono.hovered {
            background: rgba(90, 141, 238, .15);
            color: #5A8DEE;
            cursor: pointer;

        }

        .icono .icononombre {
            font-weight: bold;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            font-size: 14px;
            line-height: 10px;
        }

        .icono .iconodescripcion {
            font-weight: normal;
            font-size: 10px;
            line-height: 10px;
        }

        .icono .iconoimagen {
            width: 100%;
            text-align: center;
            padding-top: 10px;
        }

        .icono .iconoimagen img {
            height: 80px;
        }
    </style>
    <script>
        function iniciar_sesion(peticion) {

            Swal.fire({
                title: '¿Estás seguro de iniciar una nueva sesión?',
                text: "Se cerrarán las sesiones abiertas y comenzará una nueva",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, iniciar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ reques.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            peticion: peticion,
                        },
                        dataType: "json",
                        beforeSend: function () {

                        }
                    }).done(function (data) {
                        if (data.respuesta === true) {
                            Swal.fire(
                                'Correcto',
                                data.mensaje,
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        } else {

                            Swal.fire(data.mensaje);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        mensaje_alerta('Error al intentar conectar con el servidor', 'Error de conexiòn');
                    }).always(function () {
                    });


                }

            })


        }

        function cerrarsesioncaja(peticion, id) {

            Swal.fire({
                title: '¿Estás seguro de cerrar la sesión?',
                text: "Se cerrará la sesión seleccionada",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, cerrar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '{{ reques.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            peticion: peticion,
                            id: id,
                        },
                        dataType: "json",
                        beforeSend: function () {

                        }
                    }).done(function (data) {
                        if (data.respuesta === true) {
                            Swal.fire(
                                'Correcto',
                                data.mensaje,
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        } else {

                            Swal.fire(data.mensaje);
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        mensaje_alerta('Error al intentar conectar con el servidor', 'Error de conexiòn');
                    }).always(function () {
                    });


                }

            })


        }
    </script>
{% endblock %}
{% block contenido %}

    <div class="col-md-12 mb-lg-0 mb-4 ">
        <div class="position-relative  card mt-1 ">
            <div class="card-header pb-0 p-3 ">
                <div class="row ">
                    <div class="col-6 d-flex align-items-center">
                        <h6 class="mb-0">{{ titulo_tabla }}</h6>
                    </div>
                    <div class="col-6 text-end">

                    </div>
                </div>
            </div>
            <div class="card-header pb-0 p-3 ">
                <div class="row ">
                    <div class="col-6 d-flex align-items-start">
                        <input class="form-control"
                               style="border-style: solid;border-width: 0.2px;width: 300px;padding-left: 10px;margin-right: 10px;height: 30px"
                               type="text" id="buscarinfo" placeholder="Nombre del modelo evaluativo"
                               {% if var %}value="{{ var }}"{% endif %}>
                        <button id="buscar" class="btn btn-success m-0 ms-2"
                                style="height: 30px;vertical-align: center;padding-top: 5px;" type="button">Buscar
                        </button>
                    </div>
                </div>
            </div>

            {% for curso in page_obj %}
                <div class="contenidoitem">
                <div class="icono " url="{{ curso.ruta }}">
                    <div class="iconoimagen">
                        <div class="padding">
                            <img src="/media/{{ curso.fondocursos }}" alt="Card image cap">
                        </div>
                    </div>
                    <div class="icononombre">
                        <div class="padding">
                            <h4 class="tituloicono"><a
                                    href="/miscursos/?peticion=veralumnos&id={{ curso.id }}">{{ curso.nombre }}</a></h4>
                            {#                            <span class="iconodescripcion">{{ curso.descripcion }}</span>#}
                        </div>
                    </div>
                </div>
            {% endfor %}



            </div>

        </div>
    </div>
    {% include 'paginador.html' %}




{% endblock %}

{% block script %}
    <script type="text/javascript">
        $("#buscar").click(function () {
            var term = $("#buscarinfo").val().trim().toUpperCase();
            var url = {{ request.path }};
            if (term.length > 0) {
                url += "?var=" + term;
            }
            location.href = url
        });
    </script>
{% endblock %}