{% extends 'formularioBase.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block titulo %}{{ titulo_formulario }}{% endblock %}
{% block class_extra_card_formulario %}col-lg-8 col-md-10{% endblock %}
{% block inputs_extras %}
    <input type="hidden" name="peticion" value="{{ peticion }}">
    <input type="hidden" name="id" value="{{ paciente.id }}">
{% endblock %}
{% block news_inputs_form %}

{% endblock %}
{% block nombre_boton_submit %}Modificar{% endblock %}
{% block location_href_destino %}{% url 'pacientes'%}{% endblock %}
{% block botones_extras %}{% endblock %}



{% block js %}
    <script src="{% static 'js/dropify.min.js' %}"></script>

      <script>

        var mask = IMask(document.getElementById('id_telefono_movil'), { mask: '00 000 0000'});
        var mask = IMask(document.getElementById('id_telefono_convencional'), { mask: '000 000 0000'});
    </script>

{% endblock %}

