{% extends 'formularioBase.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block contenido_extra %}

{% endblock %}
{% block lista_de_items_many_to_many %}
{% endblock %}
{% block titulo %}{{ titulo_formulario }}{% endblock %}
{% block class_extra_card_formulario %}col-lg-8 col-md-10{% endblock %}
{% block inputs_extras %}
    <input type="hidden" name="peticion" value="{{ peticion }}">
    <input type="hidden" name="idpago" value="{{ idpago }}">
{% endblock %}

{% block news_inputs_form %}

{% endblock %}
{% block nombre_boton_submit %}Guardar{% endblock %}
{% block location_href_destino %}{% url 'finanzas' %}{% endblock %}
{% block botones_extras %}{% endblock %}

{% block modals %}
    <!-- Modal -->

{% endblock %}




{% block js %}

    </script>

    <script>

        function mensajeSuccess(mensaje) {
            Swal.fire('', mensaje, 'success')
        }

        function mensajeWarning(mensaje) {
            Swal.fire('', mensaje, 'warning')
        }

        function mensajeDanger(mensaje) {
            Swal.fire('', mensaje, 'error')
        }
    </script>


{% endblock %}

