{% extends 'formularioBase.html' %}
{% load static %}
{% block head %}
    <script>
        var fila = 0;
    </script>
{% endblock %}
{% block contenido_extra %}

{% endblock %}
{% block lista_de_items_many_to_many %}
{% endblock %}
{% block titulo %}{{ titulo_formulario }}{% endblock %}
{% block class_extra_card_formulario %}col-lg-8 col-md-10{% endblock %}
{% block inputs_extras %}
    <input type="hidden" name="peticion" value="{{ peticion }}">
    <input type="hidden" name="periodo" value="{{ periodo.id }}">
{% endblock %}

{% block news_inputs_form %}
    <div class="row">
        <a id="adicionarcuotas" style="cursor: pointer;">
            <li class="fa fa-plus"></li>
        </a>
        <div class="table-responsive-lg">
            <table class="table table-striped table-hover align-items-center mb-0 " id="listadocuotas">
                <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolde text-center">Inicio
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center">
                        Fin
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center">
                        Valor
                    </th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center">

                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
    <br>
    <br>
    <br>
{% endblock %}
{% block nombre_boton_submit %}Guardar{% endblock %}
{% block location_href_destino %}{% url 'periodo' %}{% endblock %}
{% block botones_extras %}{% endblock %}

{% block modals %}
    <!-- Modal -->

{% endblock %}




{% block js %}

    <script>

        function solicitudaajax(boton) {
            Swal.fire({
                title: `Está seguro de eliminar la cuota?`,
                text: "Esta acción es irreversible",
                type: 'info',
                showCancelButton: true,
                allowOutsideClick: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, deseo hacerlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {

                setTimeout($.unblockUI, 1);
                var fila = boton.parentNode.parentNode; // Obtiene la fila actual
                fila.parentNode.removeChild(fila);
                }
            })}
    </script>

    <script>

        function mensajeSuccess(mensaje) {
            Swal.fire('', mensaje, 'success')
        }

        function mensajeWarning(mensaje) {
            Swal.fire('', mensaje, 'warning')
        }

        function mensajeDanger(mensaje) {
            Swal.fire('', mensaje, 'error')
        }

        $(document).ready(function () {
            $("#id_periodo").val({{ periodo.id }});
            $("#id_periodo").attr({'disabled': 'disabled'});

            // DESACTIVAR OPCIONES DE INSCRIPCIÓN
            $("#id_tiporubroinscripcion, #id_costoinscripcion").attr({'disabled': 'disabled'});
            // DESACTIVAR OPCIONES DE MATRÍCULA
            $("#id_tiporubromatricula, #id_costomatricula").attr({'disabled': 'disabled'});
            // DESACTIVAR OPCIONES DE GENERA CUOTAS
            $("#id_cuotas, #id_tiporubrocuota").attr({'disabled': 'disabled'});
            // DESACTIVAR OPCIONES DE APLICA OFERTA
            $("#id_costooferta").attr({'disabled': 'disabled'});
        })
        $("#id_inscripcion").click(function () {
            var miCheckbox = document.getElementById("id_inscripcion");
            if (miCheckbox.checked) {
                $("#id_tiporubroinscripcion, #id_costoinscripcion").removeAttr('disabled');
                $("#id_tiporubroinscripcion, #id_costoinscripcion").attr({'required': 'required'});
            } else {
                $("#id_tiporubroinscripcion, #id_costoinscripcion").attr({'disabled': 'disabled'});
                $("#id_tiporubroinscripcion, #id_costoinscripcion").removeAttr("required");
            }
        })
        $("#id_matricula").click(function () {
            var miCheckbox = document.getElementById("id_matricula");
            if (miCheckbox.checked) {
                $("#id_tiporubromatricula, #id_costomatricula").removeAttr('disabled');
                $("#id_tiporubromatricula, #id_costomatricula").attr({'required': 'required'});
            } else {
                $("#id_tiporubromatricula, #id_costomatricula").attr({'disabled': 'disabled'});
                $("#id_tiporubromatricula, #id_costomatricula").removeAttr("required");
            }
        })
        $("#id_oferta").click(function () {
            var miCheckbox = document.getElementById("id_oferta");
            if (miCheckbox.checked) {
                $("#id_costooferta").removeAttr('disabled');
                $("#id_costooferta").attr({'required': 'required'});
            } else {
                $("#id_costooferta").attr({'disabled': 'disabled'});
                $("#id_costooferta").removeAttr("required");
            }
        })
        $("#id_gcuotas").click(function () {
            var miCheckbox = document.getElementById("id_gcuotas");
            if (miCheckbox.checked) {
                $("#id_cuotas, #adicionarcuotas, #id_tiporubrocuota").removeAttr('disabled');
                $("#id_cuotas, #adicionarcuotas, #id_tiporubrocuota").attr({'required': 'required'});
            } else {
                $("#id_cuotas, #adicionarcuotas, #id_tiporubrocuota").attr({'disabled': 'disabled'});
                $("#id_cuotas, #adicionarcuotas, #id_tiporubrocuota").removeAttr("required");
            }
        })
        $("#adicionarcuotas").click(function () {
            var estado = $("#adicionarcuotas").attr('required');
            var hola = "h"
            fila = parseInt(fila) + 1;
            if (estado == 'required') {
                $("#listadocuotas").append('<tr class="registro">' +
                    {#'<td style="text-align: center" class="itemstime">' + itemstime + '</td>' +#}
                    '<td style="text-align: center" class="inicio"><input name="inicio" type="date" style="border: 2px solid #ccc; /* Borde de 2px de ancho y color gris claro */border-radius: 4px;text-align: center;"></td>' +
                    '<td style="text-align: center" class="fin"><input name="fin" type="date" style="border: 2px solid #ccc; /* Borde de 2px de ancho y color gris claro */border-radius: 4px;text-align: center;"></td>' +
                    '<td style="text-align: center" class="valor"><input name="valor" type="number" style="border: 2px solid #ccc; /* Borde de 2px de ancho y color gris claro */border-radius: 4px;text-align: center;width:30%"></td>' +
                    '<td style="text-align: center" class="valor"><a class="btn btn-tini btn-danger tu eliminar" onclick="solicitudaajax(this)" fila="' + fila + '" title="Eliminar"><i class="fa fa-remove"></i></a></td>' +
                    '</tr>');
            }

        })

        $(".eliminar").click(function () {
            var tabla = document.getElementById("listadocuotas");
            var indice = event.target.parentNode.parentNode.rowIndex; // Obtiene el índice de la fila actual
            tabla.deleteRow(indice);
        })

    </script>


{% endblock %}

