{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block contenido %}
    {% block contenido_extra %}

    {% endblock %}

    <div class="mx-auto {% block class_extra_card_formulario %}{% endblock %} ">

        <div class="card ">
            <div class="card-body ">
                <h5 class="font-weight-bolder">{% block titulo %}{% endblock %}</h5>

                <div class="">
                    <form class="" method="POST" id="formulario_data_enviar" enctype="multipart/form-data">
                        {% block inputs_extras %}{% endblock %}
                        {% csrf_token %}

                        {% for field in form %}

                            <div class="input-group input-group-static my-3  " id="form_{{ field.name }}">
                                {{ field.errors }} {{ field.label_tag }} {{ field }} {% if field.help_text %}
                                <small id="help"
                                       class="form-text text-muted">{{ field.help_text|safe }}</small> {% endif %}
                            </div>

                        {% endfor %}
                        {% block news_inputs_form %}

                        {% endblock %}

                        <div class="d-flex justify-content-end ">
                            {% block cancelar %}<a href="javascript:history.back()" name="button"
                                                   class="btn btn-light m-0">Cancelar</a>{% endblock %}
                            <button id="submit" type="submit" class="btn btn-success m-0 ms-2">
                                {% block nombre_boton_submit %}{% endblock %}</button>
                            {% block botones_extras %}
                            {% endblock %}
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <br>

    </div>

{% endblock %}


{% block script %}

    <script>
        {#$(function () {#}
        {#    //Date picker#}
        {#    $('#id_fecha_cita').datetimepicker({#}
        {#        format: 'DD-MM-YYYY'#}
        {#    });#}
        {##}
        {# });#}


        $('#formulario_data_enviar').submit(function (e) {
            e.preventDefault();

            var $form = $(this);
            var formData = new FormData($form[0]);

            Block_UI();

            fetch('{{ request.path }}', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    $.unblockUI();
                    if (data.respuesta === true) {
                        Swal.fire(
                            'Envio de datos',
                            data.mensaje,
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed) {
                                location.href = "{% block location_href_destino %}
                                    /{% endblock %}" + ((data.id) ? data.id : "");
                            }
                        });
                    } else {
                        Swal.fire(
                            'Advertencia!',
                            data.mensaje,
                            'warning'
                        );
                        if (data.repetidos) {
                            if (data.repetidos.length > 0) {
                                myToast.reset('all');
                                repetidos = data.repetidos;
                                $.toast({
                                    heading: data.mensaje,
                                    text: repetidos,
                                    showHideTransition: 'slide',
                                    icon: 'info',
                                    position: 'top-right',
                                    stack: false
                                });
                            }
                        }
                    }
                })
                .catch(error => {
                    $.unblockUI();
                    alert("Error al enviar los datos: " + error.message);
                });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("select").select2({"width": "100%"});
        });
    </script>

    {% block js %}

    {% endblock %}

{% endblock %}