<div class="card-footer d-flex justify-content-end mb-3 ">
    <div class="pagination-container justify-content-center">
        <ul class="pagination pagination-secondary">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span
                            aria-hidden="true"><span
                            class="material-icons">keyboard_arrow_left</span></span>
                    </a>
                </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item ">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"> <span aria-hidden="true"><span
                            class="material-icons">keyboard_arrow_right</span></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>