{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/select2.min.js' %}"></script>
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
{% endblock %}
{% block contenido %}
    <div class="col-lg-9 col-md-8 col-12">
        <!-- Card -->
        <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">{{ curso }}</h3>
                <span></span>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light" style="border-bottom-style: solid;border-bottom-width: 1.2px;border-bottom-color: #eeeee7;">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav" style="margin-left: -20px">
                            <li id="li_resumen" class="nav-item" style="margin-right: 20px;padding-right: 13px;border-right-style: solid;border-right-width: 3px;border-right-color: #e6e6de;">
                                <a id="link_resumen" class="nav-link {% if option == 'summary' %}active{% endif %}" href="?peticion=admcourse&id={{ curso.id }}&option=summary">Resumen</a>
                            </li>
                            <li id="li_participantes" class="nav-item" style="margin-right: 20px;padding-right: 13px;border-right-style: solid;border-right-width: 3px;border-right-color: #e6e6de;">
                                <a class="nav-link {% if option == 'participants' %}active{% endif %}" href="?peticion=admcourse&id={{ curso.id }}&option=participants">Participantes</a>
                            </li>
                            <li id="li_actividades" class="nav-item" style="margin-right: 20px;padding-right: 13px;border-right-style: solid;border-right-width: 3px;border-right-color: #e6e6de;">
                                <a class="nav-link {% if option == 'addactv' %}active{% endif %}" href="?peticion=admcourse&id={{ curso.id }}&option=addactv">Actividades</a>
                            </li>
{#                            <li id="li_clases" class="nav-item" style="margin-right: 20px;padding-right: 13px;border-right-style: solid;border-right-width: 3px;border-right-color: #e6e6de;">#}
{#                                <a class="nav-link {% if option == 'addclass' %}active{% endif %}" href="?peticion=admcourse&id={{ curso.id }}&option=addclass" tabindex="-1" aria-disabled="true">Clases</a>#}
{#                            </li>#}
                            <li id="li_recursos" class="nav-item">
                                <a class="nav-link {% if option == 'addresource' %}active{% endif %}" href="?peticion=admcourse&id={{ curso.id }}&option=addresource" tabindex="-1" aria-disabled="true">Recursos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block contentadicional %}
            {% endblock %}
        </div>
    </div>
{% endblock %}